<ul id="menu">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Countries", "Index", "Country")</li>
    <li>@Html.ActionLink("Chefs", "Index", "Chef")</li>
    <li>@Html.ActionLink("Dinners", "Index", "Dinner")</li>
    <li>@Html.ActionLink("Meals", "Index", "Meal")</li>
    <li><a href="http://awesome.codeplex.com" target="_blank">Help</a></li>    
</ul>
