@model IEnumerable<Meal>
@foreach (var o in Model)
{
    <li id='o@(o.Id)' class="meal">
        <div>@o.Name
            <div class="fr">
            @Html.Partial("deletebtn",o)            
            </div>
        </div>
        <div>
            <div class="fl"><img  src='@Url.Content("~/pictures/Meals/" + (string.IsNullOrEmpty(o.Picture) ? "0.jpg" : o.Picture))' class="thumb"  alt='picture' /></div>
            <div class="comments">@o.Comments</div>
            <br class="cbt"/>
        </div>        
        
        <div class="cbt" style="margin-top:0.5em;">
            <div class='cool fl'>
            @Html.PopupActionLink("ChangePicture", Mui.change_picture, new object[] { o.Id }, new { @class="abtn", style="padding:0.1em 0.3em"})
            </div>
            
            <div class='notcool fl'>
            <a style="padding:0.1em 0.3em" class="abtn" href="@Url.Action("ochangepicture", new { o.Id })">@Mui.change_picture</a>
            </div>

            <div class="fr">@Html.PopupFormActionLink("Edit", @Mui.Edit, parameters: new object[] { o.Id }, htmlAttributes: new { @class = "abtn", style = "padding:0.1em 0.3em" })</div>
        </div>        
    </li>
}
