@model IEnumerable<Chef>
@foreach (var o in Model)
{
    <tr id='o@(o.Id)'>
        <td>
            @o.FirstName
        </td>
        <td>
            @o.LastName
        </td>
        <td>
            @(o.Country != null ? o.Country.Name : "")
        </td>
        <td>
            @Html.PopupFormActionLink("Edit", Mui.Edit, parameters: new object[] { o.Id }, htmlAttributes: new { @class = "abtn" })
        </td>
        <td>
            @Html.Partial("deletebtn", o)
        </td>
    </tr>
}
