@model IEnumerable<Meal>
@foreach (var o in Model)
{
    <li id='o@(o.Id)' class="meal">
        <div>@o.Name
            <div class="fr">
            @Html.Partial("deletebtn",o)            
            </div>
        </div>
        <div>
            <div class="fl"><img  src='@Url.Content("~/pictures/Meals/" + (string.IsNullOrEmpty(o.Picture) ? "0.jpg" : o.Picture))' class="thumb"  alt='picture' /></div>
            <div class="comments">@o.Comments</div>
            <br class="cbt"/>
        </div>        
        <div class="cbt">
            <div class='cool'>
            @Html.PopupActionLink("ChangePicture",Mui.Picture, new object[]{o.Id})
            </div>
            
            <div class='notcool'>
            <a href="@Url.Action("ochangepicture", new { o.Id })">@Mui.Picture</a>
            </div>

            <div class="fr">@Html.PopupFormActionLink("Edit", @Mui.Edit, parameters: new object[] { o.Id })</div>
        </div>        
    </li>
}
