@model IEnumerable<User>
@foreach (var o in Model)
{
    <tr id='o@(o.Id)'>
        <td>
            @o.Login
        </td>
        <td>@(string.Join(",", o.Roles.Select(r => r.Name)))</td>
        <td>
            @(Html.PopupFormActionLink<UserController>(a => a.Edit(o.Id), @Mui.Edit, new {@class = "abtn"}))
        </td>
        <td>
            @(Html.PopupFormActionLink<UserController>(a => a.ChangePassword(o.Id), "password", new { @class = "abtn" }))
        </td>
        <td>
            @Html.Partial("deletebtn", o)
        </td>
    </tr>
}
