@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pr0D1nn3r, 4 pl4c3 wh3r3 pr0s 34t

</h2>

@Html.MakePopupForm("create", successFunction: "created", height: 700, fullScreen: true, cancelText: Mui.Cancel)

<script type="text/javascript">
    var page = 1;
    function addStart(d) { $(d).css('opacity', 0).prependTo("#list").animate({ opacity: 1 }, 600, 'easeInCubic'); }
    function addEnd(d) { $(d).css('opacity', 0).appendTo("#list").animate({ opacity: 1 }, 300, 'easeInCubic'); }
    function created(o) { $.get('@Url.Action("row")', { id: o.Id }, function (d) { addStart(d); }); }
   
    var lfm;
    $(function () {
        $('#more').click(more);

        $('#sform input:text').keyup(function () { $('#sform').submit(); });
        $('#sform input:hidden, .ae-array').change(function () { $('#sform').submit(); });

        $('#sform').ajaxForm({ success: function (d) {
            $("#list").html(d.rows);
            page = 1;
            if (d.more) $('#more').show(); else $('#more').hide();
            lfm = $('#sform').formSerialize();
        }
        }).submit();
    });

    function more() {
        page++;
        $.post('@Url.Action("search")', lfm + '&page=' + page, function (d) {
            addEnd(d.rows);
            if (d.more) $('#more').show(); else $('#more').fadeOut('slow');
        });
    }        
</script>
<form id="sform" action="@Url.Action("search")" method="post">
@Html.Partial("searchbox")
</form>
<br />
@Html.PopupFormActionLink("create", text:@Mui.host_a_dinner, htmlAttributes: new { @class = "abtn" })
<br />
<br />
    <ul id="list">
    </ul>
<br />
<a id="more" class="abtn" style="display:none;">@Mui.more</a> 
