<fieldset>
    <legend>@Mui.search_for_a_dinner</legend>
    <div class="si">
        <div>@Mui.Name:</div>
        @Html.Autocomplete("search", controller: "DinnerAutocomplete", data: new Dictionary<string, string> { { "searchChefId", "chef" }, { "searchMeals", "meals" } }, generatePropId:false)
    </div>
    <div class="si">
        <div>@Mui.Chef:</div>
        @Html.AjaxDropdown("ChefId", prefix: "search")
    </div>
    <div class="si">
        <div>@Mui.Meals:</div>
        <span class="cbt" />@Html.Lookup("Meals", prefix: "search", multiselect: true, fullscreen: true, clearButton: true, paging: true)</div>
    <br class="cbt" />
</fieldset>
